h1{
    color: red;
}
#heading-2{
    color: blue;
}
.heading{
    color: green;
}
.para{
    border: 2px black;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: center;
}
.navbar{
    border: 3px black;
    border-color: black;
    border-style: solid;
    padding: 20px;
    background-color: lightsteelblue;
    text-align: center;
}
.navbar a{
    color: brown;
    padding: 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: lightblue;
}
body{
    margin: 0px;
}